---
import Container from "@/components/partials/Container.astro"
import Footer from "@/components/partials/Footer.astro"
import Header from "@/components/partials/Header.astro"
import SEO from "@/components/partials/SEO.astro"

import "@/styles/tailwind.css"
import { cn } from "@/utils/cn"

interface Props {
	title: string
	description: string
	datePublished?: string
	bodyStyle?: string
	dateModified?: string
	indexRobots?: string
	type?: any
	keywords?: string
	ogImage?: any
	containerOff?: boolean
}

const {
	datePublished,
	bodyStyle,
	dateModified,
	indexRobots,
	title,
	type,
	description,
	ogImage,
	keywords,
	containerOff,
} = Astro.props
---

<html lang="ru" class="scroll-smooth subpixel-antialiased">
	<head>
		<SEO
			title={title}
			description={description}
			indexRobots={indexRobots}
			ogImage={ogImage}
			type={type}
			keywords={keywords}
			datePublished={datePublished}
			dateModified={dateModified}
		/>

		<!-- #f8fafc и #eceef1 - BG красивый -->
	</head>
	<body
		class={`${cn("flex min-h-screen flex-col text-zinc-900 bg-[#f7f7f7]", bodyStyle)}`}
	>
		<Header />
		{
			containerOff ? (
				<div class="flex flex-col gap-12">
					<slot />
				</div>
			) : (
				<Container class="py-20">
					<div class="flex flex-col gap-12">
						<slot />
					</div>
				</Container>
			)
		}
		<Footer />
	</body>
</html>
